body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card-container {
    width: 80vw;
    border: 1px solid black;
    border-radius: 3px;
    padding: 50px;
    margin: 20px;
}

.modal-content {
    padding: 30px;
}
